---
import "../styles/global.css";
const { btnText } = Astro.props;
---

<a href="https://signup.leagueoflegends.com/en-gb/signup/index#/"
  ><button class="action-button">
    <p>{btnText}</p>
  </button></a
>
