---
import "../styles/global.css"
---

<div class="video-container">
    <video width="1500" autoplay loop muted>
        <source src="src/assets/RengarAnimation_VP9.webm" type="video/webm">
        Your browser does not support the video tag.
    </video>
</div>