---
import "../styles/global.css"
---

<nav>

    <ul>
        <li>    
            <a href="#">CHAMPION</a>
            <a href="#">ABILITIES</a>
            <a href="#">SPLASH ART</a>
            <a href="#">FAQ</a>
        </li>

    </ul>


</nav>