---
import "../styles/global.css";
---

<div class="playnowvideo-container">
  <video autoplay loop muted>
    <source src="src/assets/rengar-fighting-clip.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
</div>
